body{
    text-align: center;
}
button{
    padding:15px;
    margin:30px;
    border-radius: 10px;
    border:none;
}

img{
    height:480px;
    width:480px;
    display:none;
}
div{
    margin-top:10px;

    font-size:30px;
    padding:10px;

}
div.main{
    border:1px solid black;
    margin-left:39%;
    width:351px;
}